/* Add some basic styling for levels and lifts */
.simulation-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); /* Use CSS grid */
    gap: 10px;
    align-items: flex-start; /* Align the items to the top of the container */
}

.level {
    min-width: 110px; /* Set a minimum width for levels */
    background-color: #ccc;
    padding: 10px;
    margin: 5px;
    border: 1px solid #999;
    margin-top: 100px;
    top: 50px;
    width: 10px; /* Adjust the width as needed */
    position: relative; /* Add relative positioning for line placement */
}

.level::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    width: 2000%; /* Extend the line to the window width */
    height: 0.5px; /* Adjust the line thickness as needed */
    background-color: #ff0000; /* Line color */
}

.lift {
    min-width: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border: 1px solid #999;
    width: 40px;
    position: relative;
    left: 200px;
    margin-left: 50px;
    float: left;
    transition: top 2s ease; /* Add a transition for smooth movement */
}

/* Add styling for buttons */
.button-green {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.button-red {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.door {
    min-width: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border: 1px solid #999;
    width: 40px;
    position: relative;
    right: 380px;
    bottom: 50px;
    margin-left: 50px;
    float: left;
    transition: top 2s ease; /* Add a transition for smooth movement */
}