/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Floor CSS */
.container {
    width: 60%;
    height: auto;
    margin: 0 auto 20px auto;
}

.floor {
    display: flex;
    flex-direction: row;
    height: 123px;
    border-bottom: 3px solid black;
    padding-top: 10px;
}

/* Lift CSS */
.lift {
    padding: 2px;
    height: 70px;
    width: 60px;
    margin: 3px;
    transform: translateY(0px);
    background-color: #00A2FF;
}

.lift.ended {
    opacity: 0;
}

.lift-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
}

/* Button CSS */
button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    min-height: 30px;
    min-width: 80px;
}

.up-btn {
    background-color: #01B202;
}

.down-btn {
    background-color: #F8BA00;
}

.btn-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
